PersistenceGeneratorConfiguration.xml
workspace/.metadata/
workspace/.recommenders/
workspace/**/.classpath
Backup/
DB-Scripts/
Models/**/.PersistenceGeneratorConfiguration.xml
workspace/**/src/test/TestSupport.java